.card {
    position: fixed; /* Cố định vị trí card */
    bottom: 100px;    /* Khoảng cách từ cạnh dưới */
    right: 20px;     /* Khoảng cách từ cạnh phải */
    width: 300px;    /* Chiều rộng của card (có thể thay đổi theo ý muốn) */
    padding: 20px;
    background-color: #ffffff; /* Màu nền của card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng cho card */
    border-radius: 8px; /* Bo góc cho card */
    z-index: 1000; /* Đảm bảo card luôn nằm trên các thành phần khác */
}
.message {
    color: #ffffff;
    display: flex;
    padding: 0;
    outline: none;
    margin-top: 10px;
}
